<header>
  <nav>
    <a href="/users/<%= user_id %>/">QUIZZICA</a>
    <div class ="wrapper">
      <a class ="wrapper link" href="/users/<%= user_id %>/my_quizzes">My Quizzes</a>
      <a class ="wrapper link" href="/users/<%= user_id %>/makequiz">Make Quiz</a>
    </div>
  </nav>
</header>

