<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>answers</title>
  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
  <link rel="stylesheet" href="/styles/main.css" type="text/css" />
  <link rel="stylesheet" href="/styles/addAnswers.css" type="text/css" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Raleway&display=swap" rel="stylesheet">

  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script type="text/javascript" src="/scripts/client.js"></script>
</head>

<body>
  <header>
    <nav>
      <a href="/users/">QUIZZICA</a>
      <div class ="wrapper">
        <a class ="wrapper link" href="/users/<%=user_id%>/my_quizzes">My Quizzes</a>
        <a class ="wrapper link" href="/users/1/makequiz">Make Quiz</a>
      </div>
    </nav>
  </header>
  <div class="main-wrapper">
    <div class="Add-answers-wrapper">
      <h2>QUESTION: <%= question.question %></h2>

      <h4>PLEASE ADD FOUR OPTIONS TO YOUR QUESTION:</h4>
      <form id="answers-form" method="POST" action="/questions/<%= question_id%>">
        <label for="answer1">OPTION A</label>
        <input id="textbox1" class="textbox" type="text" name="answer1">
        <input type="radio" name="isCorrecta1" value="false">ADD AS INCORRECT</input>
        <br>
        <label for="answer2">OPTION B</label>
        <input id="textbox2" class="textbox" type="text" name="answer2">
        <input type="radio" name="isCorrecta2" value="false">ADD AS INCORRECT</input>
        <br>
        <label for="answer3">OPTION C</label>
        <input id="textbox3" class="textbox" type="text" name="answer3">
        <input type="radio" name="isCorrecta3" value="false">ADD AS INCORRECT</input>
        <br />
        <label for="answer4">OPTION D</label>
        <input id="textbox4" class="textbox" type="text" name="answer4">
        <input type="radio" name="isCorrecta4" value="true">ADD AS CORRECT</input>
        <br>
        <button type="submit">SUBMIT</button>
      </form>
    </div>
  </div>
</body>

</html>
