<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>create quiz</title>
  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
  <link rel="stylesheet" href="/styles/main.css" type="text/css" />
  <link rel="stylesheet" href="/styles/makequiz.css" type="text/css" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Raleway&display=swap" rel="stylesheet">

  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script type="text/javascript" src="/scripts/client.js"></script>
</head>

<body>
  <%- include('partials/_header') %>
  <div class="main-wrapper">
    <div id="quiz-container">
      <h2>CREATE YOUR OWN QUIZ</h2>
      <form id="make-quiz-form" method="POST" action="/users/<%= user_id %>/makequiz">
        <label for="name">QUIZ TITLE</label>
        <input id="quiz-title"type="text" name="name">
        <br>
        <label for="description">QUIZ DESCRIPTION</label>
        <input id="quiz-description" type="text" name="description">
        <br>
        <div class="privacy">
          <input id="private" type="radio" name="isPrivate" value="true">LIST AS PRIVATE</input>
          <input id="public" type="radio" name="isPrivate" value="false">LIST AS PUBLIC</input>
          <br>
        </div>
        <button type="submit">SUBMIT DETAILS</button>
      </form>
    </div>
  </div>
</body>

</html>
