<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>questions</title>
  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
  <link rel="stylesheet" href="/styles/main.css" type="text/css" />
  <link rel="stylesheet" href="/styles/questions.css" type="text/css" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Raleway&display=swap" rel="stylesheet">

  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script type="text/javascript" src="/scripts/client.js"></script>
</head>

<body>
  <header>
    <nav>
      <a href="/users/1">QUIZZICA</a>
      <div class ="wrapper">
        <a class ="wrapper link" href="/users/1">My Quizzes</a>
        <a class ="wrapper link" href="/users/1/makequiz">Make Quiz</a>
      </div>
    </nav>
  </header>
  <div class="main-wrapper">
    <div class="Add Questions to Quiz">
      <h2>ADD QUESTIONS TO QUIZ</h2>
      <form id="quiz-question" method="POST" action="/quiz/<%= quiz_id %>/questions">
        <label for="question">Your Question:</label>
        <input id="question-text" type="text" name="question">
        <button type="submit">Submit</button>
      </form>
    </div>
  </div>
</body>

</html>
