/************************************************ makequiz************************************/
.main-wrapper{
  height:100vh;
  font-family: 'Raleway', sans-serif;
}
#quiz-container {
  margin:30px;
  background-color:#DFEBF6;
  height:500px;
  display:flex;
  flex-direction:column;
  justify-content: space-between;
  align-items:center;
}
#make-quiz-form {
  height:400px;
  display:flex;
  flex-direction:column;
  padding-top:30px;
}
h2{
  background-color:#FFFFFF;
  padding:6px 10px;
  border-radius:5px;
}
label {
  padding: 10px 0;
  background-color:black;
  color:white;
  margin-bottom:5px;
  text-align:center;
  border-radius:5px;
}
button {
  outline:none;
  border:none;
  border-radius: 5px;
  background-color: #5cb85c;
  color:#FFFFFF;
  padding:5px 10px;
  margin-top:20px;
  cursor:pointer;
}
button:hover{
  background-color:#228C22;
}
input {
  font-family: 'Raleway', sans-serif;
  background-color:#FFFFFF;
  border:#FFFFFF;
  border-radius:5px;
  font-size:16px;
  padding:3px;
}

.privacy {
  margin: 5px 0;
}
